.productListDisplay {
    margin-bottom: 40px;
}

.productListProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;

    background-color: #ccc;
}

.productListProduct > img {
    width: 20%;
    height: 150;
}

.productListProduct > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    background-color: red;
}